<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-left d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">Events</h1>
    </div>
</div>
<app-in-page-loader *ngIf="loader"></app-in-page-loader>
<div class="w-100 float-left events-wrap">
    <div class="container">
        <div class="w-100 float-left wraper-inside-container mt-2 mb-5">
            <div class="col-lg-9 col-md-12 col-12 float-left events-left">
                <ng-container *ngFor="let list of eventList">
                    <a routerLink="/events/details/{{list.event_title_url}}"
                        class="wrap-list-events list-of-events float-left w-100 mb-2 mt-2">
                        <div class="event-img-list float-left"><img src="{{list.image_path_thumb}}" alt="">
                        </div>
                        <div class="events-list-content float-left">
                            <div *ngIf="checkCompleted(list.event_end_date_time)" class="w-100 float-left"> <span
                                    class="completed-event"><i class="fa fa-check-circle"></i> Completed</span></div>
                            <h2>{{list.event_title}} </h2>


                            <p>{{truncate(list.event_short_desc,150)}}</p>
                        </div>
                        <div class="event-held float-left text-center">
                            <div
                                class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                                <div class="w-100 float-left wrap-con-ev">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="w-100 float-left text-center mb-2">
                                        <ng-container *ngIf="list.address != ''">{{list.address}},</ng-container>
                                        <ng-container *ngIf="list.pin != ''">{{list.pin}},</ng-container>
                                        <ng-container *ngIf="list.c_name != ''">{{list.c_name}}</ng-container>
                                    </span>
                                </div>
                                <div class="w-100 float-left wrap-con-ev">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    <span class="w-100 float-left text-center">
                                        <!-- 30th Aug, 2019 -->
                                        {{list.event_start_date_time | date:'MMM dd, yyyy'}}
                                        {{list.event_start_date_time | date:'hh:mmaaa'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <div *ngIf="eventListCount > 0" class="w-100 float-left mt-4 mat-pagination position-relative">
                    <mat-paginator [length]="eventListCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>

                </div>
            </div>

            <div *ngIf="eventListCount > 0" class="col-lg-3 col-md-12 col-12 float-left events-right mt-3">
                <app-comming-event></app-comming-event>
                <app-archive-event></app-archive-event>
            </div>
        </div>
    </div>
</div>