@import './../../../../variables.scss';
.title-area-all {
	top: 0;
	right: 0;
	height: 100%;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dd261d+1,f17507+99&0.8+1,0.85+100 */
background: -moz-linear-gradient(-45deg,  rgba(221,38,29,0.8) 1%, rgba(241,117,7,0.85) 99%, rgba(241,117,7,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(221,38,29,0.8) 1%,rgba(241,117,7,0.85) 99%,rgba(241,117,7,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(221,38,29,0.8) 1%,rgba(241,117,7,0.85) 99%,rgba(241,117,7,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdd261d', endColorstr='#d9f17507',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.right-ev-lists {
    h3 {
        font-family: 'Noto Serif', serif;
        font-size: $pix18;
        color: $gray;
        font-weight: bold;
        font-style: italic;
        margin-bottom: $pix20;
    }
    a {
        background: #fbfbfb;
        padding: $pix10;
        font-size: $pix14;
        font-style: italic;
        font-family: 'Noto Serif', serif;
        color: $gray;
        text-decoration: none;
        border-radius: $pix5;
        &:hover {
            background: $orange;
            color: $white;
            box-shadow: 0px 7px 10px rgba(232, 118, 19, 0.47); 
        }
    }
}



.even-main-contanet {
    h1 {
        font-family: 'Noto Serif', serif;
        color: $gray;
        font-size: $pix25;
        margin-bottom: $pix25;
    }
    .date-time-eve {
        span {
            font-size: $pix14;
            font-weight: $weight700;
            color: $orange;
            i {
                font-size: $pix18;
                color: $blue;
                position: relative;
                margin-right: $pix8;
                display: inline-block;
            }
        }
    }
    .our-mission {
        // border-top: $pix4 solid #ededed;
        // border-bottom: $pix4 solid #ededed;
        padding-top: $pix30;
        padding-bottom: $pix35;
        margin-top: $pix20;
        h3 {
            font-family: 'Noto Serif', serif;
            margin-bottom: $pix30;
            font-style: italic;
            color: $orange;
            font-weight: bold;
            
        }
    }
    .left-wmission {
        
        ul {
            padding: $pix0;
            margin: $pix0;
            li {
                width: 100%;
                float: left;
                padding: $pix10 $pix5 $pix5 $pix25;
                font-size: 18px;
                position: relative;
                list-style: none;
                font-family: 'Noto Serif', serif;
                font-weight: bold;
                font-style: italic;
                color:$gray;
                &::before {
                    position: absolute;
                    width: $pix8;
                    height: $pix8;
                    border-radius: $pix10;
                    background: $orange;
                    content: '';
                    left: $pix0;
                    top: $pix17;
                }
            }
        }
    }
}