@import './../../../../variables.scss';
.title-area-all {
	top: 0;
	right: 0;
	height: 100%;
	background: #ffeeb0;
}
.img-page-banner {
	height: 150px;
	overflow: hidden;
}
.title-area-all {
    padding: $pix20 $pix0;
    h1 {
        font-size: $pix30;
        font-weight: $weight900;
        letter-spacing: $pix2;
        margin: $pix3 0 0 0;
        color: $black;
    }
}
.right-ev-lists {
    h3 {
        font-family: 'Noto Serif', serif;
        font-size: $pix18;
        color: $gray;
        font-weight: bold;
        font-style: italic;
        margin-bottom: $pix20;
    }
    a {
        background: #fbfbfb;
        padding: $pix10;
        font-size: $pix14;
        font-style: italic;
        font-family: 'Noto Serif', serif;
        color: $gray;
        text-decoration: none;
        border-radius: $pix5;
        &:hover {
            background: $orange;
            color: $white;
            box-shadow: 0px 7px 10px rgba(232, 118, 19, 0.47); 
        }
    }
}



.even-main-contanet {
    h1 {
        font-family: 'Noto Serif', serif;
        color: $gray;
        font-size: $pix25;
        margin-bottom: $pix25;
    }
    .date-time-eve {
        span {
            font-size: $pix14;
            font-weight: $weight700;
            color: $orange;
            i {
                font-size: $pix18;
                color: $blue;
                position: relative;
                margin-right: $pix8;
                display: inline-block;
            }
        }
    }
    .our-mission {
        // border-top: $pix4 solid #ededed;
        // border-bottom: $pix4 solid #ededed;
        padding-top: $pix30;
        padding-bottom: $pix35;
        margin-top: $pix20;
        h3 {
            font-family: 'Noto Serif', serif;
            margin-bottom: $pix30;
            font-style: italic;
            color: $orange;
            font-weight: bold;
            
        }
    }
    .left-wmission {
        
        ul {
            padding: $pix0;
            margin: $pix0;
            li {
                width: 100%;
                float: left;
                padding: $pix10 $pix5 $pix5 $pix25;
                font-size: 18px;
                position: relative;
                list-style: none;
                font-family: 'Noto Serif', serif;
                font-weight: bold;
                font-style: italic;
                color:$gray;
                &::before {
                    position: absolute;
                    width: $pix8;
                    height: $pix8;
                    border-radius: $pix10;
                    background: $orange;
                    content: '';
                    left: $pix0;
                    top: $pix17;
                }
            }
        }
    }
}
.img-height{
    height: 469px;
}