@import './../../../variables.scss';
.nav-custom {
    flex-flow: row-reverse;
}
.header-site {
    background: $white;
    box-shadow: $pix0 $pix4 $pix7 rgba(0,0,0,0.12);
}
.nav-custom li a {
    font-weight: $weight700;
    font-size: 90%;
    color: $black;
    font-size: $pix13;
    padding: $pix0 $pix15;
    &:hover {
        color: $orange;
    }
}
.nav-custom li.active a {
    color: $orange;
}