<div class="w-100 float-left events-lists-home">
        <div class="inner-ev w-100 float-left">
                <h2 class="widget-title w-100">Our <span>Programs</span></h2>


                <div class="w-100 float-left ev-lists-indivisual mb-3">
                        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img04.jpg" alt=""></div>
                        <div class="float-left cont-upcoming">
                                <h4>Event Name</h4>
                                <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci
                                        nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat
                                        ultrices elementum...</p>
                        </div>
                </div>


                <div class="w-100 float-left ev-lists-indivisual mb-3">
                        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img04.jpg" alt=""></div>
                        <div class="float-left cont-upcoming">
                                <h4>Event Name</h4>
                                <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci
                                        nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat
                                        ultrices elementum...</p>
                        </div>
                </div>

                <div class="w-100 float-left ev-lists-indivisual mb-3">
                        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img04.jpg" alt=""></div>
                        <div class="float-left cont-upcoming">
                                <h4>Event Name</h4>
                                <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci
                                        nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat
                                        ultrices elementum...</p>
                        </div>
                </div>
                <a href="#" class="btn-2 float-left mt-4">More Programs</a>

        </div>
</div>