<section class="about-us-section float-left w-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 float-left about-us fuc-umit">
                <h2 class="widget-title w-100 text-left">Other <span>Missions</span></h2>
                <div class="slider-funit w-100 float-left">
                    <app-in-page-loader *ngIf="loader"></app-in-page-loader>
                    <div class="owl-carousel owl-theme">
                        <ng-container *ngFor="let lt of list">
                            <a routerLink="/missions/details/{{lt.pro_title_url}}">
                                <div class="item">
                                    <div class="inner-sl-funit w-100 float-left">
                                        <div class="w-100 float-left img-sl-funit">
                                            <img class="lazyload" data-src="{{lt.image_path_thumb}}"
                                                alt="{{lt.program_title}}" />
                                        </div>

                                        <div class="cont-funit w-100 float-left">
                                            <h4>{{lt.program_title}}</h4>
                                            <p>{{ truncate(lt.program_short_desc,100)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>