<div [@routerTransition]>
    <h2 class="text-muted">{{pageTitle}} <small>Listing</small> <span class="float-right"><a
                class="btn btn-success btn-lg" routerLink="/admin/programs/add-edit"><i class="fa fa-plus-square"></i>
                Add New
                {{pageTitle}}</a></span>
    </h2>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <table class="card-body table">
                <thead>
                    <tr class="table-primary">
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="listCount > 0">
                        <tr *ngFor="let lst of list;let i= index;" [ngClass]="tableClass(i)">
                            <th scope="row">{{i + 1}}</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><a class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-success"><i class="fa fa-toggle-on"></i>Primary</a>
                                <a class="btn btn-danger"><i class="fa fa-trash"></i>Primary</a></td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="listCount == 0">
                        <tr class="table-warning">
                            <th scope="row" colspan="5"><i class="fa fa-database text-danger"></i> <span
                                    class="text-danger">No Data Please</span></th>

                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table> -->

    </div>
</div>