.img-thumbnail{
   width: 150px;
   height: 120px;
}

/*
   server-side-angular-way.component.css
*/
.no-data-available {
   text-align: center;
 }
 
 /*
    src/styles.css (i.e. your global style)
 */
 ::ng-deep .dataTables_empty  {
   display: none;
 }
 