<div *ngIf="list && list.length > 0" class="w-100 float-left events-lists-home">
    <div class="inner-ev w-100 float-left">
        <h2 class="widget-title w-100">Upcoming <span>Events</span></h2>
        <app-page-loader *ngIf="loader"></app-page-loader>
        <ng-container *ngFor="let lt of list">
            <a routerLink="/events/details/{{lt.event_title_url}}">
                <div class="w-100 float-left ev-lists-indivisual mb-3">
                    <div class="img-i-ev float-left"><img class="lazyload" data-src="{{lt.image_path_thumb}}"
                            alt="{{lt.event_title}}"></div>
                    <div class="float-left cont-upcoming">
                        <h4>{{lt.event_title}}</h4>
                        <span class="w-100 float-left">{{lt.event_start_date_time | date:'hh:mmaaa'}} on
                            {{lt.event_start_date_time | date:'MMM dd, yyyy'}}</span>
                        <span
                            class="text-uppercase w-100 float-left">{{getCityStateCountryStr(lt.city_name,lt.r_name,lt.c_name)}}</span>
                        <!-- <p class="w-100 float-left">{{truncate(lt.event_short_desc,150)}}</p> -->
                    </div>
                </div>
            </a>
        </ng-container>
        <a *ngIf="listArr.length > 4" routerLink="/events" class="btn-3 float-left mt-0">More Events</a>
    </div>
</div>