<div class="w-100 float-left events-lists-home">
<div class="inner-ev w-100 float-left">
    <h2 class="widget-title w-100">Upcoming <span>Events</span></h2>
   
<div class="w-100 float-left ev-lists-indivisual">
        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img03.jpg" alt=""></div>
        <div class="float-left cont-upcoming">
            <h4>Event Name</h4>
            <span class="w-100 float-left">8:00am on 20-07-2019</span>
            <span class="text-uppercase w-100 float-left">Kolkata, India</span>
            <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat ultrices elementum...</p>
        </div>
        </div>

        
<div class="w-100 float-left ev-lists-indivisual">
        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img03.jpg" alt=""></div>
        <div class="float-left cont-upcoming">
            <h4>Event Name</h4>
            <span class="w-100 float-left">8:00am on 20-07-2019</span>
            <span class="text-uppercase w-100 float-left">Kolkata, India</span>
            <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat ultrices elementum...</p>
        </div>
        </div>

        
<div class="w-100 float-left ev-lists-indivisual">
        <div class="img-i-ev float-left"><img src="./../../../../assets/images/img03.jpg" alt=""></div>
        <div class="float-left cont-upcoming">
            <h4>Event Name</h4>
            <span class="w-100 float-left">8:00am on 20-07-2019</span>
            <span class="text-uppercase w-100 float-left">Kolkata, India</span>
            <p class="w-100 float-left">In et dui mauris, sit amet ullamcorper nisl. Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat ultrices elementum...</p>
        </div>
        </div>
</div>
</div>
