@import './../../../../variables.scss';  
.content-slider {
    background-image: linear-gradient(to right bottom, #338cff, #2887f4, #1d82e9, #107dde, #0078d3);
    top: 0;
    text-align: center;
    min-height: 350px;
    h1 {
        color: $white;
        letter-spacing: $pix4;
        font-size: $pix30;
        font-weight: $weight700;
    }
    h4 {
        font-size: 24px;
    color: #ffffff;
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
    p {
        color: $white;
        padding: $pix0 20% 0 0;
        font-weight: $weight300;
    }
    .readmore-slider {
        color: $white;
        font-weight: $weight700;
        letter-spacing: $pix2;
        font-size: $pix13;
        padding: $pix15 $pix25;
        text-transform: uppercase;
        border-radius: $pix4;
        background-image: linear-gradient(to right bottom, #dd261d, #e33f18, #e85313, #ed640d, #f17507);
        &:hover {
            background-image: linear-gradient(to left top, #dd261d, #e33f18, #e85313, #ed640d, #f17507);
            color: $white;
        }
    }
}
.carousel-indicators li {
    box-sizing: content-box;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 71px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0;
    border-bottom: 0;
    opacity: .8;
}
.carousel-indicators .active {
    background: $orange;
    opacity: 1;
}
.carousel-indicators {
    bottom: $pix50;
}
.carousel-item {
    max-height: 400px;
    overflow: hidden;
}
.slider-left-wrap {
    height: 100%;
    overflow: hidden;
    img {
        height: 100%;
        width: auto !important;
    }
}
.carousel-control-next, .carousel-control-prev {
    width: 35px;
}
.carousel-indicators {
    bottom: 0;
}