<section class="slider-section float-left w-100">
  <div class="w-100 float-left slider-inner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item position-relative active">
          <img class="d-block w-100" src="./../../../../assets/images/sl01.jpg" alt="First slide">
          <div class="content-slider position-absolute d-flex align-items-center justify-content-center">
            <div class="container">
              <h1 class="text-uppercase">consectetur adipiscing</h1>
              <p>Donec luctus felis id dolor dignissim vel vulputate eros feugiat. Mauris accumsan aliquam ultrices.
                Vivamus sit amet pulvinar mi. Nam at placerat urna. Sed rutrum, ante eget fermentum sodales, est eros
                condimentum velit</p>
              <a href="#" class="readmore-slider">Read More</a>
            </div>
          </div>
        </div>
        <div class="carousel-item position-relative">
          <img class="d-block w-100" src="./../../../../assets/images/sl01.jpg" alt="Second slide">
          <div class="content-slider position-absolute d-flex align-items-center justify-content-center">
            <div class="container">
              <h1 class="text-uppercase">consectetur adipiscing</h1>
              <p>Donec luctus felis id dolor dignissim vel vulputate eros feugiat. Mauris accumsan aliquam ultrices.
                Vivamus sit amet pulvinar mi. Nam at placerat urna. Sed rutrum, ante eget fermentum sodales, est eros
                condimentum velit</p>
              <a href="#" class="readmore-slider">Read More</a>
            </div>
          </div>
        </div>
        <div class="carousel-item position-relative">
          <img class="d-block w-100" src="./../../../../assets/images/sl01.jpg" alt="Third slide">
          <div class="content-slider position-absolute d-flex align-items-center justify-content-center">
            <div class="container">
              <h1 class="text-uppercase">consectetur adipiscing</h1>
              <p>Donec luctus felis id dolor dignissim vel vulputate eros feugiat. Mauris accumsan aliquam ultrices.
                Vivamus sit amet pulvinar mi. Nam at placerat urna. Sed rutrum, ante eget fermentum sodales, est eros
                condimentum velit</p>
              <a href="#" class="readmore-slider">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>