@import './../../../../variables.scss';  
.content-slider {
    background: rgba(0,97,165,0.8);
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    h1 {
        color: $white;
        letter-spacing: $pix4;
        font-size: $pix30;
        font-weight: $weight700;
    }
    h4 {
        font-size: 24px;
    color: #ffffff;
    font-family: "Noto Serif", serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
    p {
        color: $white;
        font-weight: $weight300;
        margin: 0
    }
    .readmore-slider {
        color: $white;
        font-weight: $weight700;
        letter-spacing: $pix2;
        font-size: $pix13;
        padding: $pix15 $pix25;
        text-transform: uppercase;
        border-radius: $pix4;
        background-image: linear-gradient(to right bottom, #dd261d, #e33f18, #e85313, #ed640d, #f17507);
        &:hover {
            background-image: linear-gradient(to left top, #dd261d, #e33f18, #e85313, #ed640d, #f17507);
            color: $white;
        }
    }
}
.carousel-indicators li {
    box-sizing: content-box;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 71px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0;
    border-bottom: 0;
    opacity: .8;
}
.carousel-indicators .active {
    background: $orange;
    opacity: 1;
}
.carousel-indicators {
    bottom: $pix50;
}
.slider-left-wrap {
    height: 100%;
    overflow: hidden;
    img {
        width: auto !important;
        min-width: 100%;
    }
}
.carousel-control-next, .carousel-control-prev {
    width: 35px;
}
.carousel-indicators {
    bottom: 0;
}

@media (min-width:1200px) and (max-width:1380px) {
}
@media (min-width:1024px) and (max-width:1199px) {
}
@media (min-width:992px) and (max-width:1023px) {
}
@media (min-width:800px) and (max-width:991px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
    .slider-left-wrap {
        width: 100% !important;
        max-width: 100% !important;
    }
    .content-slider {
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (min-width:768px) and (max-width:799px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}
@media (min-width:576px) and (max-width:767px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        position: relative;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}
@media (min-width:481px) and (max-width:575px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        position: relative;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}
@media (max-width:480px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        position: relative;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}
@media (max-width:380px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        position: relative;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}
@media (max-width:320px) {
    .slider-left-wrap {
        position: relative !important;
        img {
            width: 100% !important;
        }
    }
    .content-slider {
        min-height: inherit;
        padding: 15px !important;
        position: relative;
        h4 {
            font-size: 17px;
        }
        p{
            font-size: 13px;
            padding: 0 0 20px 0;
        }
    }
}