<section class="slider-section float-left w-100 mt-3 mb-3">
  <div class="container">
    <app-page-loader *ngIf="loader"></app-page-loader>
    <div class="w-100 float-left slider-inner">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-pause="hover"
        data-interval="4000">
        <div class="carousel-inner">
          <ng-container *ngFor="let sl of list;let i=index;">
            <div class="carousel-item position-relative " [ngClass]="{'active':i==0}">
              <a routerLink="/events/details/{{sl.event_title_url}}">
                <div class="col-12 col-md-12 col-lg-12 float-left p-0 slider-left-wrap position-relative">
                  <img class="d-block w-100 lazyload" data-src="{{sl.image_path}}" alt="{{sl.event_title}}">
                </div>
                <div class="col-12 col-md-12 col-lg-12 float-right content-slider text-left">
                  <h4>{{sl.event_title}}</h4>
                  <p>{{truncate(sl.event_short_desc,280)}}</p>
                </div>
              </a>
            </div>
          </ng-container>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>