<div class="w-100 float-left right-ev-lists">
    <h3>Upcoming Events</h3>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        Ut dignissim consectetur lacus et facilisis.
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </a>

    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </a>

</div>