<div [@routerTransition]>
    <h2 class="text-muted"><small>
        </small>{{pageTitle}} </h2>
    <hr>
    <ng-container *ngIf="status != '' && msg != ''">
        <div class="alert alert-{{status}} alert-dismissible fade show" role="alert">
            <div [innerHTML]="msg"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
    </ng-container>
    <form [formGroup]="settingsForm" (submit)="formSave()">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="text-muted">Details</h4>
                <hr>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Email</label>
                    <input type="text" formControlName="email" class="form-control" rows="4" id="validationCustom01"
                        placeholder="" value="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                    <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">{{pageTitle}} Objectives is required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Mobile</label>
                    <input type="number" formControlName="mobile" class="form-control" rows="4" id="validationCustom01"
                        placeholder="" value="" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" required>
                    <div *ngIf="submitted && f.mobile.errors " class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">{{pageTitle}} Objectives is required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Address</label>
                    <textarea formControlName="address" class="form-control" rows="4" id="validationCustom01"
                        placeholder="" value="" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                        required></textarea>
                    <div *ngIf="submitted && f.address.errors " class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">{{pageTitle}} Objectives is required</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>