<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">About Us</h1>
    </div>
</div>
<app-page-loader *ngIf="loader"></app-page-loader>
<section class="w-100 float-left mt-3" [ngClass]="{'d-none':loader}">
    <div class="section2 clearfix mb-4">
        <div class="container">
            <div class="w-100 float-left inner-wrap-about">
                <div class="w-100 float-left text-center">
                    <div class="w-100 d-inline-block content-abt text-left mb-0">

                        <div class="w-100 float-left our-mission abt-wrap-main border-0 mb-0 pb-4">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left left-wrap-abt">
                                <h3 class="w-100 float-left">Who we are</h3>
                                <div [innerHtml]="who_we_are"></div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left right-wrap-abt">
                                <ng-container *ngIf="who_we_are_media">
                                    <img *ngIf="who_we_are_media_type == 'image'" height="350px" width="350px"
                                        src="{{who_we_are_media}}" alt="">
                                    <iframe *ngIf="who_we_are_media_type == 'youtube'" class="w-100 float-left y-video"
                                        [src]="who_we_are_media" frameborder="0" allowfullscreen></iframe>
                                </ng-container>

                            </div>
                        </div>
                        <div class="w-100 float-left our-mission abt-wrap-main border-0 mb-0 pb-4">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left right-wrap-abt">
                                <ng-container *ngIf="our_mission_media">
                                    <img *ngIf="our_mission_media_type == 'image'" height="350px" width="350px"
                                        src="{{our_mission_media}}" alt="">
                                    <ng-container *ngIf="our_mission_media_type == 'youtube'">
                                        <iframe class="w-100 float-left y-video" [src]="our_mission_media"
                                            frameborder="0" allowfullscreen></iframe>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left left-wrap-abt">
                                <h3 class="w-100 float-left">Our Mission</h3>
                                <div [innerHtml]="our_mission"></div>
                            </div>
                        </div>

                        <div class="w-100 float-left our-mission abt-wrap-main border-0 mb-0 pb-4">
                            <div class="col-12 float-left slider-bottom-abt">
                                <div class="slider-funit w-100 float-left">
                                    <div class="owl-carousel owl-theme">
                                        <ng-container *ngFor="let gl of gallery">
                                            <div *ngIf="gl.type=='image'" class="item">
                                                <div class="inner-sl-funit w-100 float-left">
                                                    <div class="w-100 float-left img-sl-funit">
                                                        <img src="{{gl.image_path_thumb}}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="gl.type=='youtube' && gl.path != ''" class="item">
                                                <div class="inner-sl-funit w-100 float-left">
                                                    <div class="w-100 float-left img-sl-funit">
                                                        <iframe class="w-100 float-left y-video" [src]="gl.path"
                                                            frameborder="0" allowfullscreen></iframe>

                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>