@import './../../../variables.scss';
.abt-banner {
    margin: $pix20 $pix0;
    max-height: 400px;
    overflow: hidden; 
    img {
        width: 100%;
    }
}
.inner-wrap-about {
    h2 {
        font-weight: $weight700;
        font-size: $pix25;
        letter-spacing: $pix4;
        color: $white;
        
    }
    h3 {
        font-weight: $weight700;
        font-size: $pix30;
        letter-spacing: $pix2;
        color: $gray;
        
    }
}
.inner-abt-ab  {
    background: rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    left: $pix0;
    top: $pix0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-area-all {
	top: 0;
	right: 0;
	height: 100%;
	background: #ffeeb0;
}
.img-page-banner {
	height: 65px;
	overflow: hidden;
}
.title-area-all {
    padding: $pix20 $pix0;
    h1 {
        font-size: $pix30;
        font-weight: $weight900;
        letter-spacing: $pix2;
        margin: $pix3 0 0 0;
        color: $black;
    }
}
.our-mission {
    border-top: $pix4 solid #ededed;
    // border-bottom: $pix4 solid #ededed;
    padding-top: $pix30;
    padding-bottom: $pix35;
    margin-top: $pix20;
    h3 {
        font-family: 'Noto Serif', serif;
        margin-bottom: $pix30;
        font-style: italic;
        color: $orange;
        
    }
}
.left-wmission {
    
    ul {
        padding: $pix0;
        margin: $pix0;
        li {
            width: 100%;
            float: left;
            padding: $pix10 $pix5 $pix5 $pix25;
            font-size: 18px;
            position: relative;
            list-style: none;
            font-family: 'Noto Serif', serif;
            font-weight: bold;
            font-style: italic;
            color:$gray;
            &::before {
                position: absolute;
                width: $pix8;
                height: $pix8;
                border-radius: $pix10;
                background: $orange;
                content: '';
                left: $pix0;
                top: $pix17;
            }
        }
    }
}
.right-wmission {
    max-height: 400px;
    overflow: hidden;
    margin-top: $pix15;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}

@media only screen and (max-width: 960px) {
	.container {
		padding: $pix0 $pix30 70px;
    }
}