<div class="container">
    <div class="w-100 float-left inner-wrap-about">
        <div class="w-100 float-left abt-banner position-relative"><img src="./../../../assets/images/sl01.jpg" alt="">
            <div class="inner-abt-ab position-absolute">
                <h2 class="text-uppercase">About Us</h2>
            </div>
        </div>
        <h2 class="text-uppercase">About Us</h2>
        <div class="w-100 float-left text-center">
            <div class="col-lg-10 col-md-10 col-12 d-inline-block content-abt text-left mb-5">
                <h3>Who we are!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus felis id dolor dignissim vel
                    vulputate
                    eros feugiat. Mauris accumsan aliquam ultrices. Vivamus sit amet pulvinar mi. Nam at placerat urna.
                    Sed
                    rutrum, ante eget fermentum sodales, est eros condimentum velit, nec consectetur lorem augue ac
                    sapien.
                    Morbi et arcu sit amet lacus ornare malesuada. Class aptent taciti sociosqu ad litora torquent per
                    conubia
                    nostra, per inceptos himenaeos. Donec blandit sem purus. Pellentesque quis magna odio, non mattis
                    mi. In
                    et
                    dui mauris, sit amet ullamcorper nisl.<br><br>


                    Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat ultrices
                    elementum.
                    Nullam nisi elit, semper nec eleifend et, auctor aliquet risus. Curabitur placerat lacus et orci
                    blandit
                    ac
                    lacinia sem dignissim. Nam nec odio elit. Pellentesque dapibus commodo leo quis feugiat. In hac
                    habitasse
                    platea dictumst. Integer id tortor sit amet purus viverra aliquam nec ac elit. Fusce facilisis urna
                    sed
                    ligula pellentesque molestie. Duis ac risus elit. Proin ut felis diam. Ut felis diam, convallis sit
                    amet
                    hendrerit id, euismod id mi. Nullam nisl purus, semper et tristique a, ullamcorper vitae metus. </p>
                <h3 class="mt-5">What Our Mission</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus felis id dolor dignissim vel
                    vulputate
                    eros feugiat. Mauris accumsan aliquam ultrices. Vivamus sit amet pulvinar mi. Nam at placerat urna.
                    Sed
                    rutrum, ante eget fermentum sodales, est eros condimentum velit, nec consectetur lorem augue ac
                    sapien.<br><br>
                    Morbi et arcu sit amet lacus ornare malesuada. Class aptent taciti sociosqu ad litora torquent per
                    conubia
                    nostra, per inceptos himenaeos. Donec blandit sem purus. Pellentesque quis magna odio, non mattis
                    mi. In
                    et
                    dui mauris, sit amet ullamcorper nisl.<br><br>


                    Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat ultrices
                    elementum.
                    Nullam nisi elit, semper nec eleifend et, auctor aliquet risus. Curabitur placerat lacus et orci
                    blandit
                    ac<br><br>
                    lacinia sem dignissim. Nam nec odio elit. Pellentesque dapibus commodo leo quis feugiat. In hac
                    habitasse
                    platea dictumst. Integer id tortor sit amet purus viverra aliquam nec ac elit. Fusce facilisis urna
                    sed
                    ligula pellentesque molestie. Duis ac risus elit. Proin ut felis diam. Ut felis diam, convallis sit
                    amet
                    hendrerit id, euismod id mi. Nullam nisl purus, semper et tristique a, ullamcorper vitae metus. </p>
            </div>
        </div>
    </div>
</div>