<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">About Us</h1>
    </div>
</div>
<div class="container">
    <div class="w-100 float-left inner-wrap-about">

        <h2 class="text-uppercase">About Us</h2>
        <div class="w-100 float-left text-center">
            <div class="col-lg-10 col-md-10 col-12 d-inline-block content-abt text-left mb-5">
                <div class="col-lg-12 float-left">
                    <h3>Who we are!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus felis id dolor dignissim
                        vel
                        vulputate
                        eros feugiat. Mauris accumsan aliquam ultrices. Vivamus sit amet pulvinar mi. Nam at placerat
                        urna.
                        Sed
                        rutrum, ante eget fermentum sodales, est eros condimentum velit, nec consectetur lorem augue ac
                        sapien.
                        Morbi et arcu sit amet lacus ornare malesuada. Class aptent taciti sociosqu ad litora torquent
                        per
                        conubia
                        nostra, per inceptos himenaeos. Donec blandit sem purus. Pellentesque quis magna odio, non
                        mattis
                        mi. In
                        et
                        dui mauris, sit amet ullamcorper nisl.<br><br>


                        Duis a orci nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat
                        ultrices
                        elementum.
                        Nullam nisi elit, semper nec eleifend et, auctor aliquet risus. Curabitur placerat lacus et orci
                        blandit
                        ac
                        lacinia sem dignissim. Nam nec odio elit. Pellentesque dapibus commodo leo quis feugiat. In hac
                        habitasse
                        platea dictumst. Integer id tortor sit amet purus viverra aliquam nec ac elit. Fusce facilisis
                        urna
                        sed
                        ligula pellentesque molestie. Duis ac risus elit. Proin ut felis diam. Ut felis diam, convallis
                        sit
                        amet
                        hendrerit id, euismod id mi. Nullam nisl purus, semper et tristique a, ullamcorper vitae metus.
                    </p>
                </div>
                <div class="w-100 float-left our-mission">
                    <h3 class="col-lg-12 float-left">What Our Mission</h3>
                    <div class="col-12 col-md-12 col-lg-6 float-left left-wmission">

                        <ul>
                            <li>Integer laoreet semper dui nec viverra. Cras nibh ligula, aliquam quis sollicitudin eu
                            </li>
                            <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</li>
                            <li>Integer laoreet semper dui nec viverra. Cras nibh ligula, aliquam quis sollicitudin eu
                            </li>
                            <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</li>
                            <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames</li>
                            <li>Integer laoreet semper dui nec viverra. Cras nibh ligula, aliquam quis sollicitudin eu
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 float-left right-wmission">
                        <img src="./../../../assets/images/imgabt02.jpg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>