<div *ngIf="loader" class="full-loader">
    <div class="spinner-border" role="status"></div>
</div>
<app-banner (bannerLoader)="changeBannerLoaderStatus($event)" class="w-100 float-left"></app-banner>
<app-slider (sliderLoader)="changeSliderLoaderStatus($event)" class="w-100 float-left"></app-slider>
<app-about-functional class="w-100 float-left"></app-about-functional>
<section class="uc-events float-left w-100 functional-activities-wrap">
    <div class="container">
        <div class="row">
            <app-upcoming-events class="float-left col-12 col-md-12 col-lg-6 up-envt"></app-upcoming-events>
            <app-activities-home class="float-left col-12 col-md-12 col-lg-6 activts"></app-activities-home>
        </div>
    </div>
</section>