<section class="about-us-section float-left w-100">
    <div class="container">
        <div class="row">

            <!-- <div class="col-12 col-md-12 col-lg-5 float-left about-us">
                <h2 class="widget-title">About <span>us</span></h2>
                <div class="w-100 float-left abt-img"><img src="./../../../../assets/images/img01.jpg" alt="" /></div>
                <div class="w-100 float-left abt-content">
                    <p>Donec luctus felis id dolor dignissim vel vulputate eros feugiat. Mauris accumsan aliquam
                        ultrices. Vivamus sit amet pulvinar mi. Nam at placerat urna. Sed rutrum, ante eget fermentum
                        sodales
                        ivamus sit amet pulvinar mi. </p>
                    <a href="#" class="btn-2 float-left mt-4">Read More</a>
                </div>
            </div> -->

            <div class="col-12 col-md-12 col-lg-12 float-left about-us fuc-umit">
                <h2 class="widget-title w-100 text-center">functional <span>unit</span></h2>
                <div class="slider-funit w-100 float-left">
                    <app-page-loader *ngIf="loader"></app-page-loader>
                    <div class="owl-carousel owl-theme">
                        <ng-container *ngFor="let lt of list">
                            <div class="item">
                                <div class="inner-sl-funit w-100 float-left">
                                    <div class="w-100 float-left img-sl-funit">
                                        <img src="{{lt.image_path}}" alt="{{lt.fu_title}}" /></div>
                                    <div class="cont-funit w-100 float-left">
                                        <h4>{{lt.fu_title}}</h4>
                                        <p>{{ truncate(lt.fu_desc,150)}}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>