@import './../../../../variables.scss';
.about-us-section{
    background: #f0f0f0;
    padding: $pix50 $pix0;
}
.abt-img {
    border-radius: $pix15;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: $pix25;
    img {
        min-width: 100%;
    }
}
.slider-funit {
    .item {
        padding: $pix15 $pix10;
        display: inline-block;
    }
    .img-sl-funit {
        border-radius: $pix15;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .cont-funit  {
        padding: $pix10 $pix15;
        h4 {
            font-size: $pix18;
            font-weight: $weight700;
            color: $blue;
            text-transform: uppercase;
            margin-top: $pix15;
        }
        p {
            font-size: $pix14;
            min-height: 140px;
            max-height: 140px;
            overflow: hidden;
        }
    }
}
.inner-sl-funit {
    border-radius: $pix15;
    background: #f5f5f5;
    box-shadow: $pix0 $pix7 $pix10 rgba(0,0,0,0.1);
}
.about-us ::ng-deep .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%
}
.about-us ::ng-deep .owl-prev {
    font-size: 0 !important;
    background: url(./../../../../assets/images/ar01.png) no-repeat !important;
    width: $pix18;
    height: $pix25;
    position: absolute;
    left: -$pix18;
    outline: none !important;
}
.about-us ::ng-deep .owl-next {
    font-size: 0 !important;
    background: url(./../../../../assets/images/ar02.png) no-repeat !important;
    width: $pix18;
    height: $pix25;
    position: absolute;
    right: -$pix25;
    outline: none !important;
}
.fuc-umit {
    padding-left: $pix35;
}