<div class="w-100 float-left right-ev-lists">
    <h3>Archive</h3>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        January 2019
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        February 2019
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        March 2019
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        April 2019
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        June 2019
    </a>
    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
        July 2019
    </a>
</div>