<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="details[0].count" [label]="'Programs!'"
                [url]="details[0].url">
            </app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="details[1].count" [label]="'Events!'"
                [url]="details[1].url"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="details[2].count"
                [label]="'Functional Units!'" [url]="details[2].url">
            </app-stat>
        </div>
        <!-- <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'Contact Us!'" [url]="">
            </app-stat>
        </div> -->

    </div>
    <hr />

</div>