<footer class="w-100 float-left sitefooter">
    <div class="container">
        <div class="float-left left-area-footer"><img src="./../../../assets/images/footer-logo.png" alt=""></div>
        <div class="links-footer float-right">
            <ul>
                <li><a routerLink="/" class="text-uppercase" routerLinkActive="active">home</a></li>
                <li><a routerLink="/about-us" class="text-uppercase" routerLinkActive="active">about us</a></li>
                <li><a routerLink="/activities" class="text-uppercase" routerLink="/programme">Programmes</a></li>
                <li><a routerLink="/events" class="text-uppercase" routerLinkActive="active">events</a></li>
                <li><a routerLink="/contact-us" class="text-uppercase" routerLinkActive="active">contact us</a></li>
            </ul>
        </div>
        <div class="w-100 float-left bottom-footer">
            <div class="social-footer float-right">
                <a href="https://www.facebook.com/aariyomfoundation" target="_blank" class="float-left"><img
                        src="./../../../assets/images/face.png" alt=""></a>
                <a href="https://twitter.com/aariyomfoundat1?s=08" target="_blank" class="float-left"><img
                        src="./../../../assets/images/tw.png" alt=""></a>
                <a href="https://www.instagram.com/invites/contact/?i=1g5qfh02kgyal&utm_content=csp6esm" target="_blank"
                    class="float-left"><img src="./../../../assets/images/insta.png" alt=""></a>
            </div>
            <span class="copy float-left">Copyright © {{todayYear | date:'yyyy'}} Aariyom Foundation. All rights
                reserved.</span>
        </div>
    </div>
</footer>