<div [@routerTransition]>
    <h2 class="text-muted"><small>{{pageAction}} <ng-container *ngIf="pageAction=='Add'">New
            </ng-container></small>{{pageTitle}} </h2>
    <hr>
    <ng-container *ngIf="status != '' && msg != ''">
        <div class="alert alert-{{status}} alert-dismissible fade show" role="alert">
            <div [innerHTML]="msg"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <hr>
    </ng-container>

    <form [formGroup]="addEditForm" (submit)="formSave()">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">{{pageTitle}} Title</label>
                    <input type="text" formControlName="program_title" class="form-control" id="program_title"
                        placeholder="" value="" [ngClass]="{ 'is-invalid': submitted && f.program_title.errors }"
                        required>
                    <div *ngIf="submitted && f.program_title.errors " class="invalid-feedback">
                        <div *ngIf="f.program_title.errors.required">{{pageTitle}} is required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Organized by</label>
                    <select class="form-control" formControlName="org_by" id="org_by"
                        [ngClass]="{ 'is-invalid': submitted && f.org_by.errors }" required multiple>
                        <option value="">Select One</option>
                        <option *ngFor="let cl of fuList" [value]="cl.fu_id" selected="selected">{{cl.fu_title}}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.org_by.errors " class="invalid-feedback">
                        <div *ngIf="f.org_by.errors.required">Organized by is required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input formControlName="program_image" type="file" (change)="fileProgress($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.program_image.errors }" />
                        <div *ngIf="submitted && f.program_image.errors " class="invalid-feedback">
                            <div *ngIf="f.program_image.errors.required">{{pageTitle}} Image is required</div>
                        </div>
                    </div>
                    <div *ngIf="fileUploadProgress">
                        Upload progress: {{ fileUploadProgress }}
                    </div>
                    <div class=" image-preview mb-3" *ngIf="previewUrl">
                        <img class="w-25" [src]="previewUrl" />
                    </div>

                    <div class="mb-3" *ngIf="uploadedFilePath">
                        {{uploadedFilePath}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">{{pageTitle}} Description</label>
                    <textarea formControlName="program_desc" class="form-control" rows="5" id="program_desc"
                        placeholder="" value="" [ngClass]="{ 'is-invalid': submitted && f.program_desc.errors }"
                        required></textarea>
                    <div *ngIf="submitted && f.program_desc.errors " class="invalid-feedback">
                        <div *ngIf="f.program_desc.errors.required">{{pageTitle}} Description is required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Status : </label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="program_status"
                            class="custom-control-input" value="ongoing">
                        <label class="custom-control-label" for="customRadioInline1">Ongoing</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" formControlName="program_status"
                            class="custom-control-input" value="upcoming">
                        <label class="custom-control-label" for="customRadioInline2">Upcoming</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline3" formControlName="program_status"
                            class="custom-control-input" value="completed">
                        <label class="custom-control-label" for="customRadioInline3">Completed</label>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <h4 class="text-muted">{{pageTitle}} <small> Others Details</small></h4>
                <hr>
                <div class="col-md-12 mb-3">
                    <label for="validationCustomPrograms">Programs</label>
                    <select class="form-control" formControlName="programs" id="programs"
                        [ngClass]="{ 'is-invalid': submitted && f.programs.errors }" multiple required>
                        <option *ngFor="let pl of programList" [value]="pl.program_id" selected="selected">
                            {{pl.program_title}}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.programs.errors " class="invalid-feedback">
                        <div *ngIf="f.programs.errors.required">Programs are required</div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01">Status : </label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="program_status"
                            class="custom-control-input" value="ongoing">
                        <label class="custom-control-label" for="customRadioInline1">Ongoing</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" formControlName="program_status"
                            class="custom-control-input" value="upcoming">
                        <label class="custom-control-label" for="customRadioInline2">Upcoming</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" formControlName="program_status"
                            class="custom-control-input" value="completed">
                        <label class="custom-control-label" for="customRadioInline2">Completed</label>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-save"></i> Save</button> &nbsp;
                <a routerLink="/admin/programs" class="btn btn-secondary btn-lg"><i class="fa fa-undo"></i>
                    Back</a>

            </div>
        </div>
    </form>
</div>