<div [@routerTransition]>
    <h2 class="text-muted">Activity <small>Add</small></h2>
    <hr>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h4 class="text-muted">Activity <small>Details</small></h4>
            <hr>
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Activity Title</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Activity Short Desc</label>
                <textarea class="form-control" rows="5" id="validationCustom01" placeholder="First name" value="Mark"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h4 class="text-muted">Activity <small>Dates</small></h4>
            <hr>
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Activity Start Date</label>

                <!-- <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                        #d="ngbDatepicker">
                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                        
                        <span class="fa fa-calendar"></span>
                    </button>
                </div> -->
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Activity End Date</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="validationCustom01">Invite People</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h4 class="text-muted">Activity <small>Long Description</small></h4>
            <hr>
            <ckeditor [editor]="editor" [data]="editorData" data=""></ckeditor>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">

            <button type="button" class="btn btn-primary btn-lg">Save</button>
            <button type="button" class="btn btn-secondary btn-lg">Back</button>

        </div>
    </div>
</div>