<div *ngIf="loader" class="full-loader">
    <div class="spinner-border" role="status"></div>
</div>
<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">Join Us</h1>
    </div>
</div>
<app-page-loader *ngIf="loader"></app-page-loader>
<section class="w-100 float-left mt-2" [ngClass]="{'d-none':loader}">
    <div class="section2 clearfix mb-5">
        <div class="container">
            <div class="col-12 column2 internal-form">
                <div class="sec2innercont">
                    <div class="sec2addr">
                        <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{address}}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> {{mobile}}</p>
                        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> {{email}}</p> -->
                    </div>
                </div>
                <div class="sec2contactform">
                    <h3 class="sec2frmtitle">Join us now to be part of Aariyom Foundation</h3>
                    <div *ngIf="status != ''" class="alert alert-{{status}}" role="alert">
                        {{msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="formObj" (submit)="formSave()">
                        <div class="w-100 float-left">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Name <span>*</span></mat-label>
                                <input formControlName="jum_name" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_name.errors }" id="validationServer03"
                                    placeholder="Name" required>
                                <div *ngIf="submitted && f.jum_name.errors " class="invalid-feedback">
                                    Please provide Name.
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Email <span>*</span></mat-label>
                                <input formControlName="jum_email" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_email.errors }"
                                    id="validationServer03" placeholder="Email" required>
                                <div *ngIf="submitted && f.jum_email.errors " class="invalid-feedback">
                                    Please provide a valid Email.
                                </div>
                            </div>

                        </div>
                        <div class="w-100 float-left">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Date of birth <span>*</span></mat-label>
                                <mat-form-field class="w-100" appearance="fill">
                                    <input matInput class="form-control" [matDatepicker]="picker"
                                        formControlName="jum_dob" id="validationServer03" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="submitted && f.jum_dob.errors " class="invalid-feedback">
                                    Please provide Date of birth.
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Mobile <span>*</span></mat-label>
                                <input formControlName="jum_phone" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_phone.errors }"
                                    id="validationServer03" placeholder="Mobile" required>
                                <div *ngIf="submitted && f.jum_phone.errors " class="invalid-feedback">
                                    Please provide a valid mobile.
                                </div>
                            </div>
                        </div>
                        <div class="w-100 float-left">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Gender <span>*</span></mat-label>
                                <mat-radio-group formControlName="jum_gender" aria-label="Select an Gender" required>
                                    <mat-radio-button *ngFor="let gf of genderArr;" value="{{gf}}">{{gf}}
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="submitted && f.jum_gender.errors " class="invalid-feedback">
                                    Please select gender.
                                </div>

                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Occupation </mat-label>
                                <input formControlName="jum_occupation" type="text" class="form-control"
                                    id="validationServer03" placeholder="Occupation">
                            </div>
                        </div>
                        <div class="w-100 float-left">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Permanent address </mat-label>
                                <textarea formControlName="jum_permanent_address" name="textarea"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_permanent_address.errors }"
                                    class="form-control" id="" cols="30" rows="5"
                                    placeholder="Permanent address"></textarea>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Present address </mat-label>
                                <textarea formControlName="jum_present_address" name="textarea"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_present_address.errors }"
                                    class="form-control" id="" cols="30" rows="5"
                                    placeholder="Present address"></textarea>
                            </div>
                        </div>
                        <div class="w-100 float-left">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">How you came to know about the Aariyom Foundation
                                </mat-label>
                                <mat-radio-group formControlName="jum_know_from" aria-label="Select an option">
                                    <mat-radio-button *ngFor="let kfa of knowFromArr;" value="{{kfa}}">{{kfa}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 float-left mb-2">
                                <mat-label class="w-100 float-left">Any special note </mat-label>
                                <textarea formControlName="jum_any_special_note" name="textarea"
                                    [ngClass]="{ 'is-invalid': submitted && f.jum_any_special_note.errors }"
                                    class="form-control" id="" cols="30" rows="5"
                                    placeholder="Any special notes"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"><input type="submit" class="button-submit" value="Send"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>