<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1>Donec luctus felis id dolor dignissim vel vulputate eros feugiat. Mauris accumsan
            aliquam ultrices. Vivamus sit amet pulvinar mi. Nam at placerat urna. Sed rutrum, ante eget fermentum
            sodales, est eros condimentum velit</h1>
    </div>
</div>