@import './../../../../variables.scss';
.title-area-all {
	top: 0;
	right: 0;
    height: 100%;
    background:#ffeeb0;
}
.img-page-banner {
	height: 150px;
	overflow: hidden;
}
.title-area-all {
    padding: $pix20 25%;
    text-align: center;
    h1 {
        font-size: $pix17;
        font-weight: $weight900;
        letter-spacing: 1px;
        letter-spacing: $pix2;
        margin: $pix3 0 0 0;
        color: $black;
        font-family: 'Noto Serif', serif;
        font-style: italic;
    }
}

@media (min-width:1200px) and (max-width:1380px) {
}
@media (min-width:1024px) and (max-width:1199px) {
}
@media (min-width:992px) and (max-width:1023px) {
}
@media (min-width:800px) and (max-width:991px) {
}
@media (min-width:768px) and (max-width:799px) {
}
@media (min-width:576px) and (max-width:767px) {
    .title-area-all {
        padding: 20px;
        text-align: center;
        position: relative !important;
    }
    .img-page-banner {
        height: auto;
        overflow: visible;
        float: left;
    }
    .title-area-all h1 {
        font-size: 14px;
    }
}
@media (min-width:481px) and (max-width:575px) {
    .title-area-all {
        padding: 20px;
        text-align: center;
        position: relative !important;
    }
    .img-page-banner {
        height: auto;
        overflow: visible;
        float: left;
    }
    .title-area-all h1 {
        font-size: 14px;
    }
}
@media (max-width:480px) {
    .title-area-all {
        padding: 20px;
        text-align: center;
        position: relative !important;
    }
    .img-page-banner {
        height: auto;
        overflow: visible;
        float: left;
    }
    .title-area-all h1 {
        font-size: 12px;
    }
}
@media (max-width:380px) {
    .title-area-all {
        padding: 20px;
        text-align: center;
        position: relative !important;
    }
    .img-page-banner {
        height: auto;
        overflow: visible;
        float: left;
    }
    .title-area-all h1 {
        font-size: 12px;
    }
}
@media (max-width:320px) {
    .title-area-all {
        padding: 20px;
        text-align: center;
        position: relative !important;
    }
    .img-page-banner {
        height: auto;
        overflow: visible;
        float: left;
    }
    .title-area-all h1 {
        font-size: 12px;
    }
}