<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all">
        <h1>Aariyom foundation is a simple and natural expression of time evolution. It’s main goal is to build and
            implement a significant real purpose human life. Thus by the thoughts of welfare of living being or the
            world, aariyom foundation emerged as a foundation by which one can express it’s highest potential,
            possibilities and become satisfied fully and maturely.
            So, today aariyom foundation be able to express and accelerate the truths of life , actively and highly
            caring at all levels of life.</h1>
    </div>
</div>