@import './../../../../variables.scss';
.title-area-all {
	top: 0;
	right: 0;
    height: 100%;
    background:$orange;
}
.img-page-banner {
	height: 150px;
	overflow: hidden;
}
.title-area-all {
    padding: $pix20 25%;
    text-align: center;
    h1 {
        font-size: $pix17;
        font-weight: $weight900;
        letter-spacing: 1px;
        letter-spacing: $pix2;
        margin: $pix3 0 0 0;
        color: $white;
        font-family: 'Noto Serif', serif;
        font-style: italic;
    }
}