@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700&display=swap');
// font-family: 'Noto Serif', serif;
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: $pix13;
    color: $black;
    background: $white url(./assets/images/ar-bg.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    padding: $pix0;
    margin: $pix0;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none !important;
    }
}
a, img, span, p, div {
    transition: all 0.3s;
}
p {
    color: $gray2;
}
.widget-title {
    color: $orange;
    font-size: $pix25;
    letter-spacing: $pix2;
    font-weight:$weight900;
    text-transform: uppercase;
    margin-bottom: $pix20;
    span {
        color: $black;
        
    }
}
.btn-2 {
    padding: 9px 16px;
    color: $white;
    border-radius: $pix4;
    background: $blue;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $pix13;
    &:hover {
        background: $black;
        color: $white;
    }
}
.btn-3 {
    padding: 9px 16px;
    color: $white;
    border-radius: $pix4;
    background: $orange;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $pix13;
    &:hover {
        background: $black;
        color: $white;
    }
}
.completed-event{
    color: $black;
    display: block;
    margin: 3px 0;
    margin-bottom: 10px;

}
.mat-form-field-appearance-outline .mat-form-field-outline {
    background: $white;
    border-radius: 4px;
}
.full-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    z-index: 999;
}
@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
            top:88px !important;
        }
        // .main-container {
        //     margin-left: 0px !important;
        // }
    }
}
  