/* You can add global styles to this file, and also import other style files */

$white:#ffffff;
$black:#000000;
$gray:#545454;
$gray1:#a2a1a1;
$gray2:#333333;
$orange:#e87613;
$blue:#0061a5;

$pix0:0px;
$pix1:1px;
$pix2:2px;
$pix3:3px;
$pix4:4px;
$pix5:5px;
$pix6:6px;
$pix7:7px;
$pix8:8px;
$pix9:9px;
$pix10:10px;
$pix11:11px;
$pix12:12px;
$pix13:13px;
$pix14:14px;
$pix15:15px;
$pix16:16px;
$pix17:17px;
$pix18:18px;
$pix19:19px;
$pix20:20px;
$pix25:25px;
$pix30:30px;
$pix35:35px;
$pix40:40px;
$pix45:45px;
$pix50:50px;


$weight100:100;
$weight300:300;
$weight400:400;
$weight500:500;
$weight700:700;
$weight900:900;