@import './../../../../variables.scss';
.title-area-all {
	top: 0;
	right: 0;
	height: 100%;
	background: #ffeeb0;
}
.img-page-banner {
	height: 65px;
	overflow: hidden;
}
.title-area-all {
    padding: $pix20 $pix0;
    h1 {
        font-size: $pix30;
        font-weight: $weight900;
        letter-spacing: $pix2;
        margin: $pix3 0 0 0;
        color: $black;
    }
}
.right-ev-lists {
    h3 {
        font-family: 'Noto Serif', serif;
        font-size: $pix18;
        color: $gray;
        font-weight: bold;
        font-style: italic;
        margin-bottom: $pix20;
    }
    a {
        background: #fbfbfb;
        padding: $pix10;
        font-size: $pix14;
        font-style: italic;
        font-family: 'Noto Serif', serif;
        color: $gray;
        text-decoration: none;
        border-radius: $pix5;
        &:hover {
            background: $orange;
            color: $white;
            box-shadow: 0px 7px 10px rgba(232, 118, 19, 0.47); 
        }
    }
}



.even-main-contanet {
    h1 {
        font-family: 'Noto Serif', serif;
        color: $gray;
        font-size: $pix25;
        margin-bottom: $pix25;
    }
    .date-time-eve {
        span {
            font-size: $pix14;
            font-weight: $weight700;
            color: $orange;
            i {
                font-size: $pix18;
                color: $blue;
                position: relative;
                margin-right: $pix8;
                display: inline-block;
            }
        }
    }
    .our-mission {
        // border-top: $pix4 solid #ededed;
        // border-bottom: $pix4 solid #ededed;
        padding-top: $pix10;
        padding-bottom: $pix0;
        margin-top: $pix0;
        h3 {
            font-family: 'Noto Serif', serif;
            margin-bottom: $pix10;
            font-style: italic;
            color: $orange;
            font-weight: bold;
            
        }
    }
    .left-wmission {
        
        ul {
            padding: $pix0;
            margin: $pix0;
            li {
                width: 100%;
                float: left;
                padding: $pix10 $pix5 $pix5 $pix25;
                font-size: 18px;
                position: relative;
                list-style: none;
                font-family: 'Noto Serif', serif;
                font-weight: bold;
                font-style: italic;
                color:$gray;
                &::before {
                    position: absolute;
                    width: $pix8;
                    height: $pix8;
                    border-radius: $pix10;
                    background: $orange;
                    content: '';
                    left: $pix0;
                    top: $pix17;
                }
            }
        }
    }
}
.img-height{
    height: 469px;
}

.slider-funit {
    .item {
        padding: $pix15 $pix10;
        display: inline-block;
    }
    .img-sl-funit {
        border-radius: $pix15;
        overflow: hidden;
        img {
            width: 100%;
            height: 105px;
        }
    }
    .cont-funit  {
        padding: $pix10 $pix15;
        h4 {
            font-size: $pix18;
            font-weight: $weight700;
            color: $blue;
            text-transform: uppercase;
            margin-top: $pix15;
        }
        p {
            font-size: $pix14;
            min-height: 140px;
            max-height: 140px;
            overflow: hidden;
        }
    }
}
.inner-sl-funit {
    border-radius: $pix15;
    background: #f5f5f5;
    box-shadow: $pix0 $pix7 $pix10 rgba(0,0,0,0.1);
}
.about-us ::ng-deep .owl-nav {
    position: absolute;
    top: 45%;
    width: 100%
}
.about-us ::ng-deep .owl-prev {
    font-size: 0 !important;
    background: url(./../../../../assets/images/ar01.png) no-repeat !important;
    width: $pix18;
    height: $pix25;
    position: absolute;
    left: -$pix18;
    outline: none !important;
}
.about-us ::ng-deep .owl-next {
    font-size: 0 !important;
    background: url(./../../../../assets/images/ar02.png) no-repeat !important;
    width: $pix18;
    height: $pix25;
    position: absolute;
    right: -$pix25;
    outline: none !important;
}
.slider-funit {
    ::ng-deep .owl-nav {
        position: absolute;
        width: 100%;
        top: 49%;
        left: 0;
        ::ng-deep .owl-prev {
            left: -12px;
            position: relative;
            font-size: 19px;
        }
        ::ng-deep .owl-next {
            right: -11px;
            position: relative;
            float: right;
            font-size: 19px;
        }
    }
}
@media (min-width:1200px) and (max-width:1380px) {
}
@media (min-width:1024px) and (max-width:1199px) {
    
}
@media (min-width:992px) and (max-width:1023px) {
    
}
@media (min-width:800px) and (max-width:991px) {
    
}
@media (min-width:768px) and (max-width:799px) {
    
}
@media (min-width:576px) and (max-width:767px) {
    
}
@media (min-width:481px) and (max-width:575px) {
    .img-height{
        height: 300px;
    }
    .slider-funit {
        .item {
            padding: $pix15 $pix10;
            display: inline-block;
        }
        .img-sl-funit {
            border-radius: $pix15;
            overflow: hidden;
            img {
                width: 100%;
                height: 105px;
            }
        }
        
    }
}
@media (max-width:480px) {
    .img-height{
        height: 300px;
    }
    .slider-funit {
        .item {
            padding: $pix15 $pix10;
            display: inline-block;
        }
        .img-sl-funit {
            border-radius: $pix15;
            overflow: hidden;
            img {
                width: 100%;
                height: 105px;
            }
        }
        
    }
}
@media (max-width:380px) {
    .img-height{
        height: 300px;
    }
    .slider-funit {
        .item {
            padding: $pix15 $pix10;
            display: inline-block;
        }
        .img-sl-funit {
            border-radius: $pix15;
            overflow: hidden;
            img {
                width: 100%;
                height: 105px;
            }
        }
        
    }
}
@media (max-width:320px) {
    .img-height{
        height: 300px;
    }
    .slider-funit {
        .item {
            padding: $pix15 $pix10;
            display: inline-block;
        }
        .img-sl-funit {
            border-radius: $pix15;
            overflow: hidden;
            img {
                width: 100%;
                height: 105px;
            }
        }
        
    }
}


