<div *ngIf="loader" class="full-loader">
    <div class="spinner-border" role="status"></div>
</div>
<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">Contact Us</h1>
    </div>
</div>
<app-page-loader *ngIf="loader"></app-page-loader>
<section class="w-100 float-left mt-5" [ngClass]="{'d-none':loader}">
    <div class="section2 clearfix mb-5">
        <div class="container">
            <div class="col2 column1 first">
                <!-- <div #mapContainer id="map"></div> -->
                <iframe class="w-100 float-left frame-map" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q=%20Garia%2C%20Kolkata%20-700084%2C%20West%20Bengal%2C%20India&key=AIzaSyC_9Bu_aS5H64hB0fsN2lKrUSUDfL_HdGQ"
                    allowfullscreen></iframe>

            </div>
            <div class="col2 column2 last">
                <div class="sec2innercont">
                    <div class="sec2addr">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{address}}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> {{mobile}}</p>
                        <p><i class="fa fa-envelope-open" aria-hidden="true"></i> {{email}}</p>
                    </div>
                </div>
                <div class="sec2contactform">
                    <h3 class="sec2frmtitle">Want to Know More?</h3>
                    <div *ngIf="status != ''" class="alert alert-{{status}}" role="alert">
                        {{msg}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="contactForm" (submit)="formSave()">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input formControlName="firstName" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                    id="validationServer03" placeholder="Firstname" required>
                                <div *ngIf="submitted && f.firstName.errors " class="invalid-feedback">
                                    Please provide First Name.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input formControlName="lastName" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" id="validationServer03"
                                    placeholder="Lastname" required>
                                <div *ngIf="submitted && f.lastName.errors " class="invalid-feedback">
                                    Please provide Last Name.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <input formControlName="email" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="validationServer03"
                                    placeholder="Email" required>
                                <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                                    Please provide a valid email.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input formControlName="mobile" type="text" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" id="validationServer03"
                                    placeholder="Mobile" required>
                                <div *ngIf="submitted && f.mobile.errors " class="invalid-feedback">
                                    Please provide a valid mobile.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <textarea formControlName="desccription" name="textarea"
                                    [ngClass]="{ 'is-invalid': submitted && f.desccription.errors }"
                                    class="form-control" id="" cols="30" rows="5" placeholder="Your message here..."
                                    required></textarea>
                                <div *ngIf="submitted && f.desccription.errors " class="invalid-feedback">
                                    Please provide your message.
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"><input type="submit" class="button-submit" value="Send"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>