<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">Programme</h1>
    </div>
</div>

<div class="w-100 float-left events-wrap">
    <div class="container">
        <div class="w-100 float-left wraper-inside-container mt-5 mb-5">
            <div class="col-lg-9 col-md-12 col-12 float-left events-left">
                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2">
                    <div class="event-img-list float-left"><img src="./../../../../assets/images/img04.jpg" alt="">
                    </div>
                    <div class="events-list-content float-left">
                        <h2>Event Name will come here</h2>
                        <p>Sed non vulputate nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada
                            fames ac turpis egestas. In hac habitasse platea dictumst. Nullam neque erat, tempor eget
                            dictum
                            sit amet</p>
                    </div>
                    <div class="event-held float-left text-center">
                        <div
                            class="info-held w-100 text-center float-left d-flex justify-content-center align-items-center flex-column">
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center mb-4">32 B, Sector 5, Kolkata - 700 002</span>
                            </div>
                            <div class="w-100 float-left wrap-con-ev">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span class="w-100 float-left text-center">30th Aug, 2019</span>
                                <span class="w-100 float-left text-center">5:30PM</span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-3 col-md-12 col-12 float-left events-right mt-3">
                <div class="w-100 float-left right-ev-lists">
                    <h3>Upcoming Events</h3>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        Ut dignissim consectetur lacus et facilisis.
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </a>

                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </a>

                </div>
                <div class="w-100 float-left right-ev-lists">
                    <h3>Archive</h3>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        January 2019
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        February 2019
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        March 2019
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        April 2019
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        June 2019
                    </a>
                    <a routerLink="/events/details" class="w-100 float-left side-events mb-3">
                        July 2019
                    </a>



                </div>
            </div>
        </div>
    </div>
</div>