<div class="w-100 float-left img-page-banner position-relative">
    <div
        class="col-12 col-md-12 col-lg-12 col-xl-12 float-right d-flex justify-content-center align-items-center title-area-all position-absolute">
        <h1 class="text-uppercase">Our Missions</h1>
    </div>
</div>
<div class="w-100 float-left events-wrap">
    <app-in-page-loader *ngIf="loader"></app-in-page-loader>
    <div class="container">
        <div class="w-100 float-left wraper-inside-container mt-2 mb-5">
            <div class="col-lg-9 col-md-12 col-12 float-left events-left">
                <!-- <a routerLink="/events/details" class="wrap-list-events float-left w-100 mb-2 mt-2"> -->
                <ng-container *ngFor="let lt of list">
                    <a routerLink="/missions/details/{{lt.pro_title_url}}">
                        <div class="wrap-list-events float-left w-100 mb-2 mt-2">
                            <div class="event-img-list float-left"><img src="{{lt.image_path}}" alt="">
                            </div>
                            <div class="events-list-content float-left">
                                <h2>{{lt.program_title}}</h2>
                                <p>{{truncate(lt.program_short_desc,250)}}</p>
                            </div>
                        </div>
                    </a>
                </ng-container>
                <!-- </a> -->
            </div>

            <div *ngIf="listCount > 0" class="col-lg-3 col-md-12 col-12 float-left events-right mt-3">
                <app-comming-event></app-comming-event>
                <app-archive-event></app-archive-event>
            </div>
        </div>
    </div>
</div>